@import 'colors/one-dark.css';

* {
  border: none;
  border-radius: 0px;

  font-family: "Adwaita Sans", "JetBrainMono Nerd Font Propo";
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* ---------------------------waybar---------------------------*/
window#waybar {
  background: transparent;
}

tooltip {
  background: @bg0;
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background-color: @bg0;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 18px;
  border: 1px solid @bg1;
  color: @fg;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background-color: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @lavender;
  color: @bg0;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @blue;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}
/*-------------batter,pulseaudio,wifi,notification and menu--------------------------------*/
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification,
#custom-menu {
  background-color: @bg0;
  padding: 0 14px 0 14px;
  margin: 0 0 0 12px;
  border-radius: 50px;
  border: 1px solid @bg1;
}

#clock {
  color: @blue;
}

#custom-notification {
  color: @fg;
}

#pulseaudio {
  color: @pink;
}

#network {
  color: @teal;
}

#custom-menu {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  background: @green;
  color: @base;
}

/* LOW BATTERY (< ~60%) (NOT WORKING FOR NOW)*/
#battery.warning {
  color: @yellow;
}

#battery.critical {
  background: @red;
  color: @base;
}